.grid-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.actionButton {
    height: 30px;
    background-color: rgb(44, 142, 234);
    border: none;
    border-radius: 5px;
    color: white;
}

.actionButton:hover {
    background-color: rgb(34, 111, 182);
    cursor: pointer;
}