/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}

.color-grey {
    background-color: rgb(243, 243, 243);
}

.dropshadow {
    box-shadow: 0 0 5px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
